features/\.DS_Store
.idea/
\.byebug_history
.vscode/
allure-report/
coverage/
debug.log
features/TestDetails/*
history/
Report.html
Rubymine_key.md
screenshots/
webmessage.html
Reports/Allure/allure-results/
Reports/Allure/