features/\.DS_Store
.idea/
\.byebug_history
coverage/
history/
Reports/
screenshots/
features/support/android_helpers/*
Gemfile.lock
debug.log
features/Attachment_Files/LatchCSVExample.csv
tmp/screenshots/
features/tmp/screenshots/
features/TestDetails/
webmessage.html