features/\.DS_Store
.idea/
\.byebug_history
coverage/
history/
Reports/
screenshots/
features/support/android_helpers/*
features/TestDetails/TestDetails.rb
Gemfile.lock
debug.log
features/Attachment_Files/LatchCSVExample.csv
